@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=LXGW+WenKai+TC&display=swap');

body {
  background-image: url('./papyrus.jpg');
  background-size: cover;
  font-family: 'LXGW WenKai TC', cursive;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
  color: darken($color: #7a4115, $amount: 15%);
}

.wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.container {
  margin: 0 auto;
  width: 1800px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.formuls {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 40px;

  input {
    margin-left: 20px;
    background: none;
    border: 3px solid darken($color: #7a4115, $amount: 15%);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    appearance: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
